<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Bootstrap & Jquery -->
    <script src="bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" href="css/igloo.css" />
    <link rel="stylesheet" href="css/orders.css" />
    <!-- Scripts -->
    <script src="js/orders.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%; overflow: hidden">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label class="nav-brand mr-5 mt-2" style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Orders / Budgets</b></label
          >
          <li role="button" onclick="window.location.href='/agent'" class="nav-item">
            <span class="nav-link">Agents</span>
          </li>
          <li role="button" onclick="window.location.href='/client'" class="nav-item">
            <span class="nav-link">Clients</span>
          </li>
          <li role="button" onclick="window.location.href='/order'" class="nav-item">
            <span class="nav-link">Orders</span>
          </li>
          <li role="button" onclick="window.location.href='/invoice'" class="nav-item">
            <span class="nav-link">Billing</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i style="color: white" class="fas fa-snowman"></i></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Invoices</h3>
            </div>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col">
                <div class="input-group">
                  <input
                    onkeyup="searchOrderByClient()"
                    type="text"
                    id="searchTerm"
                    class="form-control search filterText"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <small class="filterText ml-1">Find Orders by clients</small>
                <button
                  type="button"
                  name="searchTerm"
                  onclick="searchOrderByClient()"
                  class="btn btn-sm btn-search filterText"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input
                  onkeyup="searchOrderByAgent()"
                  type="text"
                  id="searchTerm"
                  class="form-control search filterText"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-between">
              <small class="filterText ml-1">Find Orders by agent</small>
              <button
                type="button"
                name="searchTerm"
                onclick="searchOrderByAgent()"
                class="btn btn-sm btn-search filterText"
              >
                Search
              </button>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"></i>
            </div>
            <div class="col-10">
              <label class="filterText">Favorites</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="idOrderAsc()"
                id="idOrderAsc"
                type="button"
                class="fas fa-sort-numeric-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idOrderAsc" class="filterText">Order by ID (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="idOrderDesc()"
                id="idOrderDesc"
                type="button"
                class="fas fa-sort-numeric-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idOrderDesc" class="filterText">Order by ID (Des)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="amountOrderAsc()"
                id="amountOrderAsc"
                type="button"
                class="fas fa-sort-alpha-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="amountOrderAsc" class="filterText">Order by Amount (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="amountOrderDesc()"
                id="amountOrderDesc"
                type="button"
                class="fas fa-sort-alpha-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="amountOrderDesc" class="filterText">Order by Amount (Des)</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="addOrder()" class="btn btn-add btn-lg btn-block filterText">
                Add Order
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="deleteOrders()" class="btn btn-del btn-lg btn-block filterText">
                Delete Selected Orders
              </button>
            </div>
          </div>
        </div>
        <div class="col-10" style="overflow: auto; height: 1000px; width: fit-content">
          <!-- Order Form INI -->
          <div class="row orderForm m-5" id="orderForm" style="display: none">
            <div class="col">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="snowman@igloo.com" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email">Profile Picture</label>
                    <input
                      type="text"
                      class="form-control"
                      id="profilePic"
                      name="profilePic"
                      placeholder="https://robohash.org/quoasdfsdffsdsendain.png?size=250x250&set=set1"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button type="button" onclick="createAgent()" class="btn btn-block btn-addAgent filterText">
                      Create
                    </button>
                  </div>
                  <div class="form-group col-md-10">
                    <div class="alert alert-info" role="alert" style="display: none" id="successAlert">
                      Agent successfully added
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Order Form END -->
          <div class="row orderTable m-5" id="orderTable">
            <div class="col">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Ref</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order : ${orders}">
                    <th th:text="${order.id}" scope="row"></th>
                    <th th:text="${order.creationDate}"></th>
                    <th th:text="${order.clientId}"></th>
                    <th th:text="${order.agentId}"></th>
                    <th th:text="${order.totalAmount}"></th>
                    <th th:text="${order.statusId}"></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
