<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <!-- Bootstrap & Jquery -->

    <script src="/src/main/resources/static/bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="/src/main/resources/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/src/main/resources/static/bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" href="/src/main/resources/static/css/igloo.css" />

    <!-- Scripts -->
    <script src="js/orders.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%; overflow: hidden">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label class="nav-brand mr-5 mt-2" style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Orders / Budgets</b></label
          >
          <li role="button" onclick="window.location.href='/agent'" class="nav-item">
            <span class="nav-link">Agents</span>
          </li>
          <li role="button" onclick="window.location.href='/client'" class="nav-item">
            <span class="nav-link">Clients</span>
          </li>
          <li role="button" onclick="window.location.href='/order'" class="nav-item">
            <span class="nav-link">Orders</span>
          </li>
          <li role="button" onclick="window.location.href='/invoice'" class="nav-item">
            <span class="nav-link">Billing</span>
          </li>
          <li role="button" onclick="window.location.href='/settings'" class="nav-item">
            <span class="nav-link">Settings</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i style="color: white" class="fas fa-snowman"></i></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Orders</h3>
            </div>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col">
                <div class="input-group">
                  <input
                    onkeyup="getOrders('searchClient',null,null)"
                    type="text"
                    id="searchTermClient"
                    class="form-control search filterText"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <small class="filterText ml-1">Find Orders by clients</small>
                <button
                  type="button"
                  name="searchTermClient"
                  onclick="getOrders('searchClient',null,null)"
                  class="btn btn-sm btn-search filterText"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input
                  onkeyup="getOrders('searchAgent',null,null)"
                  type="text"
                  id="searchTermAgent"
                  class="form-control search filterText"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-between">
              <small class="filterText ml-1">Find Orders by agent</small>
              <button
                type="button"
                name="searchTermAgent"
                onclick="getOrders('searchAgent',null,null)"
                class="btn btn-sm btn-search filterText"
              >
                Search
              </button>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"></i>
            </div>
            <div class="col-10">
              <label class="filterText">Favorites</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'totalAmount', 'asc')"
                id="totalAmountOrderAsc"
                type="button"
                class="fas fa-sort-numeric-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="totalAmountOrderAsc" class="filterText">Order by Total Amount (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'totalAmount', 'des')"
                id="totalAmountOrderDes"
                type="button"
                class="fas fa-sort-numeric-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="totalAmountOrderDes" class="filterText">Order by Total Amount (Des)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'date', 'asc')"
                id="datOrderAsc"
                type="button"
                class="fas fa-sort-alpha-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="datOrderAsc" class="filterText">Order by Date (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'date', 'des')"
                id="dateOrderDes"
                type="button"
                class="fas fa-sort-alpha-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="dateOrderDes" class="filterText">Order by Date (Des)</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showCreateForm()" class="btn btn-add btn-lg btn-block filterText">
                Add Order
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="batchDeleteOrders()" class="btn btn-del btn-lg btn-block filterText">
                Delete Selected Orders
              </button>
            </div>
          </div>
        </div>
        <div class="col-10" style="overflow: auto; height: 1000px; width: fit-content">
          <!-- Order Form INI -->
          <div class="row orderForm m-5" id="orderForm" style="display: none">
            <div class="col">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="totalAmount">Total Amount</label>
                    <input type="text" class="form-control" name="totalAmount" id="totalAmount" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="statusId">Status</label>
                    <input type="text" class="form-control" name="statusId" id="statusId" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="agentId">Agent</label>
                    <input type="text" class="form-control" name="agentId" id="agentId" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="clientId">Client</label>
                    <input type="text" class="form-control" name="clientId" id="clientId" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="sectorId">Sector</label>
                    <input type="text" class="form-control" name="sectorId" id="sectorId" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button type="button" onclick="createOrder()" class="btn btn-block btn-addAgent filterText">
                      Create
                    </button>
                  </div>
                  <div class="form-group col-md-10">
                    <div class="alert alert-info" role="alert" style="display: none" id="successAlert">
                      Order successfully added
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Order Form END -->
          <div class="row orderTable m-5" id="orderTable">
            <div class="col">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Ref</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="orderList">
                  <tr th:each="order : ${orders}">
                    <td><input type="checkbox" /></td>
                    <td class="filterTextDark" th:text="${order.id}" scope="row">REF0000</td>
                    <td class="filterTextDark" th:text="${order.creationDate}">2021/5/21</td>
                    <td class="filterTextDark" th:text="${order.client}">0</td>
                    <td class="filterTextDark" th:text="${order.agent}">0</td>
                    <td class="filterTextDark" th:text="${order.totalAmount}">100000</td>
                    <td class="filterTextDark" th:text="${order.status}">0</td>
                    <td>
                      <div class="btn-group" role="group">
                        <button type="button" onclick="orderFav()" class="btn btn-secondary">
                          <i class="far fa-star"></i>
                        </button>
                        <button type="button" onclick="orderEdit()" class="btn btn-secondary">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" onclick="deleteOrder()" class="btn btn-secondary">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
