<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <!-- Bootstrap & Jquery -->
    <script
      th:src="@{'/bootstrap/js/jquery-3.6.0.min.js'}"
      src="/src/main/resources/static/bootstrap/js/jquery-3.6.0.min.js"
    ></script>
    <script
      th:src="@{'/bootstrap/js/bootstrap.min.js'}"
      src="/src/main/resources/static/bootstrap/js/bootstrap.min.js"
    ></script>
    <link
      rel="stylesheet"
      th:href="@{'/bootstrap/css/bootstrap.min.css'}"
      href="/src/main/resources/static/bootstrap/css/bootstrap.min.css"
    />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" th:href="@{'/css/igloo.css'}" href="/src/main/resources/static/css/igloo.css" />
    <!-- Scripts -->
    <script th:src="@{'/js/orders.js'}" src="js/orders.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/home"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label class="nav-brand mr-5 mt-2" style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Billing / Orders</b></label
          >
          <li role="button" onclick="window.location.href='/agent'" class="nav-item">
            <span class="nav-link">Agents</span>
          </li>
          <li role="button" onclick="window.location.href='/client'" class="nav-item">
            <span class="nav-link">Clients</span>
          </li>
          <li role="button" onclick="window.location.href='/order'" class="nav-item">
            <span class="nav-link"><b class="nav-location-font">Orders</b> </span>
          </li>
          <li role="button" onclick="window.location.href='/invoice'" class="nav-item">
            <span class="nav-link">Billing</span>
          </li>
          <li role="button" onclick="window.location.href='/settings'" class="nav-item">
            <span class="nav-link">Settings</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i style="color: white" class="fas fa-snowman"></i></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid igloo-container">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Orders</h3>
            </div>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col">
                <div class="input-group">
                  <input
                    onkeyup="getOrders('searchClient',null,null,true)"
                    type="text"
                    id="searchTermClient"
                    class="form-control search filterText"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <small class="filterText ml-1">Find Orders by clients</small>
                <button
                  type="button"
                  name="searchTermClient"
                  onclick="getOrders('searchClient',null,null,true)"
                  class="btn btn-sm btn-search filterText"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col">
                <div class="input-group">
                  <input
                    onkeyup="getOrders('searchAgent',null,null,true)"
                    type="text"
                    id="searchTermAgent"
                    class="form-control search filterText"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col d-flex justify-content-between">
                <small class="filterText ml-1">Find Orders by agents</small>
                <button
                  type="button"
                  name="searchTermAgent"
                  onclick="getOrders('searchAgent',null,null,true)"
                  class="btn btn-sm btn-search filterText"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"></i>
            </div>
            <div class="col-10">
              <label class="filterText">Favorites</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'totalAmount', 'asc',true)"
                id="idOrderAsc"
                type="button"
                class="fas fa-sort-numeric-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idOrderAsc" class="filterText">Order by Amount (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'totalAmount', 'desc',true)"
                id="idOrderDesc"
                type="button"
                class="fas fa-sort-numeric-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idOrderDesc" class="filterText">Order by Amount (Des)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'creationDate', 'asc',true)"
                id="creationDateOrderAsc"
                type="button"
                class="fas fa-sort-alpha-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="creationDateOrderAsc" class="filterText">Order by Creation Date (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getOrders('sort', 'creationDate', 'desc',true)"
                id="creationDateOrderDesc"
                type="button"
                class="fas fa-sort-alpha-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="creationDateOrderDesc" class="filterText">Order by Creation Date (Des)</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showCreateForm()" class="btn btn-add btn-lg btn-block filterText">
                Add Order
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button
                id="batchDeleteButton"
                type="button"
                class="btn btn-del btn-lg btn-block filterText"
                data-toggle="modal"
                data-target="#batchDeleteModal"
                disabled="true"
                ;
              >
                Delete Selected Orders
              </button>
            </div>
          </div>
        </div>
        <div class="col-10" style="height: 1000px; width: fit-content">
          <!-- Order Creation Form INI -->
          <div class="row orderCreationForm m-5" id="creationForm" style="display: none">
            <div class="col">
              <!-- TODO  -->
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="totalAmount" min="0"/>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="statusId">Status</label>
                    <select class="form-control" name="statusId" id="statusId">
                      <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="agentId">Agent</label>
                    <select class="form-control" name="agentId" id="agentId">
                      <option
                        th:each="agent: ${agents}"
                        th:value="${agent.id}"
                        th:text="${agent.firstName}+' '+${agent.lastName}"
                      ></option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="clientId">Client</label>
                    <select class="form-control" name="clientId" id="clientId">
                      <option
                        th:each="client: ${clients}"
                        th:value="${client.id}"
                        th:text="${client.firstName}+' '+${client.lastName}"
                      ></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="sectorId">Sector</label>
                    <select class="form-control" name="sectorId" id="sectorId">
                      <option th:each="sector: ${sectors}" th:value="${sector.id}" th:text="${sector.name}"></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button type="button" onclick="createOrder()" class="btn btn-block btn-add filterText">
                      Create
                    </button>
                  </div>
                  <div class="form-group col-md-2">
                    <button type="button" onclick="hideCreationForm()" class="btn btn-block btn-secondary filterText">
                      Cancel creation
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Order Creation Form END -->
          <!-- Order Edit INI -->
          <div class="row orderEditForm m-5" id="editForm" style="display: none">
            <div class="col">
              <!-- TODO  -->
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmountEdited" id="totalAmountEdited" min="0" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="statusId">Status</label>
                    <select class="form-control" name="statusIdEdited" id="statusIdEdited">
                      <option th:each="status: ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="agentId">Agent</label>
                    <select class="form-control" name="agentIdEdited" id="agentIdEdited">
                      <option
                        th:each="agent: ${agents}"
                        th:value="${agent.id}"
                        th:text="${agent.firstName}+' '+${agent.lastName}"
                      ></option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="clientId">Client</label>
                    <select class="form-control" name="clientIdEdited" id="clientIdEdited">
                      <option
                        th:each="client: ${clients}"
                        th:value="${client.id}"
                        th:text="${client.firstName}+' '+${client.lastName}"
                      ></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="sectorId">Sector</label>
                    <select class="form-control" name="sectorIdEdited" id="sectorIdEdited">
                      <option th:each="sector: ${sectors}" th:value="${sector.id}" th:text="${sector.name}"></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button type="button" onclick="editOrder()" class="btn btn-block btn-add filterText">Edit</button>
                  </div>
                  <div class="form-group col-md-2">
                    <button type="button" onclick="hideEditForm()" class="btn btn-block btn-secondary filterText">
                      Cancel edit.
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Order Edit END -->
          <div class="row orderTable ml-4 mr-4 mt-5" id="orderTable">
            <div class="col">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Ref</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="orderList">
                  <tr th:each="order : ${orders}">
                    <td><input onchange="addToSelected(event)" type="checkbox" /></td>
                    <td class="filterTextDark idIndicator" th:text="${order.id}"></td>
                    <td class="filterTextDark" th:text="${order.creationDate}">2021/5/21</td>
                    <td class="filterTextDark" th:text="${order.client.firstName}+' '+${order.client.lastName}">0</td>
                    <td class="filterTextDark" th:text="${order.agent.firstName}+' '+${order.agent.lastName}">0</td>
                    <td class="filterTextDark" th:text="${order.totalAmount}">100000</td>
                    <td class="filterTextDark" th:text="${order.status.name}">0</td>
                    <td class="filterTextDark" th:text="${order.sector.name}">0</td>
                    <td>
                      <div class="btn-group" role="group">
                        <button type="button" onclick="orderFav()" class="btn btn-secondary">
                          <i class="far fa-star"></i>
                        </button>
                        <button type="button" onclick="showEditForm(event)" class="btn btn-secondary">
                          <i class="fas fa-edit"></i>
                        </button>
                        <!-- Delete Modal trigger -->
                        <button
                          type="button"
                          onclick="markForDelete(event)"
                          class="btn btn-secondary deleteButton"
                          data-toggle="modal"
                          data-target="#deleteModal"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="afterTableContainer"></div>
            </div>
          </div>
          <!-- Pagination INI -->
          <nav>
            <ul class="pagination justify-content-center" id="paginationControls">
              <li class="page-item">
                <button id="prevPage" onclick="prevPage(event)" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li class="page-item">
                <a style="color: #59bec9" id="currentPageItem" class="page-link">1</a>
              </li>
              <li class="page-item">
                <button id="nextPage" onclick="nextPage(event)" class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>
          <!-- Pagination END -->
        </div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="createToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">The order was successfully created.</div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">The order was successfully deleted.</div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="editToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">The order was successfully edited.</div>
      </div>
    </div>
    <!-- Modal Delete -->
    <div
      class="modal fade"
      id="deleteModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">We won't be able to recover the order. Are you sure?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No! Go back!</button>
            <button type="button" onclick="deleteOrder()" class="btn btn-add" data-dismiss="modal">
              Understood, delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Batch Delete -->
    <div
      class="modal fade"
      id="batchDeleteModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="batchDeleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="batchDeleteModalLabel">Confirm batch deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">We won't be able to recover the selected orders. Are you sure?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No! Go back!</button>
            <button type="button" onclick="batchDelete()" class="btn btn-add" data-dismiss="modal">
              Understood, delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
