<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clients</title>
    <!-- Bootstrap & Jquery -->

    <script th:src="@{'/bootstrap/js/jquery-3.6.0.min.js'}" src="/src/main/resources/static/bootstrap/js/jquery-3.6.0.min.js"></script>
    <script th:src="@{'/bootstrap/js/bootstrap.min.js'}"  src="/src/main/resources/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  th:href="@{'/bootstrap/css/bootstrap.min.css'}" href="/src/main/resources/static/bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/e22ea825df.js"
      crossorigin="anonymous"
    ></script>
    <!-- Libraries -->
    <link rel="stylesheet" th:href="@{'/css/igloo.css'}"  href="/src/main/resources/static/css/igloo.css" />
    <link rel="stylesheet" th:href="@{'/css/client.css'}"  href="/src/main/resources/static/css/client.css" />
    <!-- Scripts -->
    <script th:src="@{'/js/clients.js'}"  src="/js/clients.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label
            class="nav-brand mr-5 mt-2"
            style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Clients</b></label
          >
          <li
            role="button"
            onclick="window.location.href='/agent'"
            class="nav-item"
          >
            <span class="nav-link">Agents</span>
          </li>
          <li
            role="button"
            onclick="window.location.href='/client'"
            class="nav-item"
          >
            <span class="nav-link">Clients</span>
          </li>
          <li
            role="button"
            onclick="window.location.href='/order'"
            class="nav-item"
          >
            <span class="nav-link">Orders</span>
          </li>
          <li
            role="button"
            onclick="window.location.href='/invoice'"
            class="nav-item"
          >
            <span class="nav-link">Billing</span>
          </li>
          <li
            role="button"
            onclick="window.location.href='/settings'"
            class="nav-item"
          >
            <span class="nav-link">Settings</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <i style="color: white" class="fas fa-snowman"></i>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Clients</h3>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input
                  onkeyup="getClients('searchClient',null,null,true)"
                  type="text"
                  id="searchTerm"
                  class="form-control search filterText"
                />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-between">
              <small class="filterText ml-1">Find clients by name</small>
              <button
                type="button"
                name="searchTerm"
                onclick="getClients('searchClient',null,null,true)"
                class="btn btn-sm btn-search filterText"
              >
                Search
              </button>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"  onclick="getClients('searhFavorites', null, null,true)"></i>
            </div>
            <div class="col-10">
              <label class="filterText">Favorites</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getClients('sort', 'id', 'asc',true)"
                id="idClientAsc"
                type="button"
                class="fas fa-sort-numeric-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idClientAsc" class="filterText"
                >Order by ID (Asc)</label
              >
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getClients('sort', 'id', 'desc',true)"
                id="idClientDesc"
                type="button"
                class="fas fa-sort-numeric-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idClientDesc" class="filterText"
                >Order by ID (Des)</label
              >
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getClients('sort', 'lastName', 'asc',true)"
                id="lastNameClientAsc"
                type="button"
                class="fas fa-sort-alpha-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="lastNameClientAsc" class="filterText"
                >Order by Last Name (Asc)</label
              >
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="getClients('sort', 'lastName', 'desc',true)"
                id="lastNameClientDesc"
                type="button"
                class="fas fa-sort-alpha-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="lastNameClientDesc" class="filterText"
                >Order by Last Name (Des)</label
              >
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button
                type="button"
                onclick="addClient()"
                class="btn btn-add btn-lg btn-block filterText"
              >
                Add Client
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button
                type="button"
                onclick="deleteClients()"
                class="btn btn-del btn-lg btn-block filterText"
              >
                Delete Selected Clients
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-10"
          style=" height: 1000px; width: fit-content"
        >
        <!-- Client creation Form -->
          <div
            class="row createForm mt-5 ml-5 mr-5"
            id="clientForm"
            style="display: none"
          >
            <div class="col">
              <form>
                <div class="row">
                  <div class="col">
                    <h2 class="filterTextDark">New Client Form</h2>
                  </div>
                </div>
                <div class="form-group row d-flex justify-content-between mt-3">
                  <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input inputBox"
                        type="radio"
                        name="typeOfClient"
                        id="individualOption"
                        value="I"
                        checked
                        required
                      />
                      <label class="form-check-label" for="individualOption">
                        Individual
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input inputBox"
                        type="radio"
                        name="typeOfClient"
                        id="companyOption"
                        value="C"
                        required
                      />
                      <label class="form-check-label" for="companyOption">
                        Company
                      </label>
                    </div>
                    <input
                      name="clientName"
                      placeholder="Name"
                      id="clientName"
                      type="text"
                      class="mt-3 mb-4 newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <div class="col-sm-8 d-flex justify-content-end"></div>
                </div>
                <div class="form-group row">
                  <label for="companyAdress1" class="col-sm-2 col-form-label"
                    >Company Address</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="companyAdress1"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      placeholder="Street"
                      required
                    />
                  </div>
                  <label for="phoneNumber1" class="col-sm-2 col-form-label"
                    >Phone number</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="phoneNumber1"
                      type="tel"
                      class="newClientFormInput inputBox form-control"
                      placeholder="999999999"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="companyAdress2"
                    class="col-sm-2 col-form-label"
                  ></label>
                  <div class="col-sm-4">
                    <input
                      name="companyAdress2"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      placeholder="Street 2"
                      required
                    />
                  </div>
                  <label for="phoneNumber2" class="col-sm-2 col-form-label"
                    >Mobile number</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="phoneNumber2"
                      type="tel"
                      class="newClientFormInput inputBox form-control"
                      placeholder="666666666"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="city" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm">
                    <select
                      name="city"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">Badajoz</option>
                      <option value="2">Getafe</option>
                      <option value="3">Setubal</option>
                      <option value="4">Cordoba</option>
                      <option value="5">Beja</option>
                      <option value="6">Evora</option>
                      <option value="7">Granada</option>
                      <option value="8">Eure</option>
                      <option value="9">Calvados</option>
                      <option value="10">Valencia</option>
                      <option value="11">Fuenlabrada</option>
                      <option value="12">Castellon</option>
                      <option value="13">Madrid</option>
                      <option value="14">Manche</option>
                      <option value="15">Faro</option>
                      <option value="16">Lisboa</option>
                      <option value="17">Leganes</option>
                      <option value="18">Sevilla</option>
                      <option value="19">Pozuelos</option>
                      <option value="20">Vienne</option>
                      <option value="21">Creusea</option>
                      <option value="22">Alicante</option>
                      <option value="23">Jaen</option>
                      <option value="24">Huelva</option>
                      <option value="25">Benidorm</option>
                      <option value="26">Caceres</option>
                      <option value="27">Malaga</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <select
                      name="region"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">Normandia</option>
                      <option value="2">Extremadura</option>
                      <option value="3">Madrid</option>
                      <option value="4">Algarve</option>
                      <option value="5 ">Comunidad Valencia</option>
                      <option value="6">Aquitania</option>
                      <option value="7">Alentejo</option>
                      <option value="8">Region de Lisboa</option>
                      <option value="9">Andalucia</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <input
                      name="ZIPCode"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      placeholder="ZIP"
                      required
                    />
                  </div>
                  <label for="email" class="col-sm-2 col-form-label"
                    >E-mail</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="email"
                      type="email"
                      class="newClientFormInput inputBox form-control"
                      placeholder="example@erp.com"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="country" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-4">
                    <select
                      name="country"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">España</option>
                      <option value="2">Francia</option>
                      <option value="3">Portugal</option>
                    </select>
                  </div>
                  <label for="webPage" class="col-sm-2 col-form-label"
                    >Web page</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="webPage"
                      type="url"
                      class="newClientFormInput inputBox form-control"
                      placeholder="www.example.com"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="nif" class="col-sm-2 col-form-label"
                    >Ident. Number (NIF)</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="nif"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      placeholder="00000000X or X0000000"
                      required
                    />
                  </div>
                  <label for="category" class="col-sm-2 col-form-label"
                    >Category</label
                  >
                  <div class="col-sm-4">
                    <select
                      name="category"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option>Labels</option>
                      <option value="1">1A</option>
                      <option value="2">1B</option>
                      <option value="3">2A</option>
                      <option value="4">2B</option>
                      <option value="5">3B</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="profilePic" class="col-sm-2 col-form-label"
                    >Profile Picture URL</label
                  >
                  <div class="col-sm-10">
                    <input
                      name="profilePic"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      placeholder="https://robohash.org/helloworld.png?size=200x200&set=set2"
                      required
                    />
                  </div>
                </div>

                <div class="row ml-3 mr-3 pt-5 pl-1 pb-5">
                  <div class="col-3">
                    <button
                      type="button"
                      onclick="createClient()"
                      class="btn btn-block btn-add"
                    >
                      <b>Create Client</b>
                    </button>
                  </div>
                  <!-- <div
                    class="col-11 alert alert-info"
                    role="alert"
                    style="display: none"
                    id="successAlert"
                  >
                    Client successfully added
                  </div> -->
                </div>
              </form>
            </div>
          </div>
          <!-- Client Edit Form -->
          <div
            class="row createForm mt-5 ml-5 mr-5"
            id="editForm"
            style="display: none">
            <div class="col">
              <form>
                <div class="row">
                  <div class="col">
                    <h2 class="filterTextDark">Client Edit  Form</h2>
                  </div>
                </div>
                <div class="form-group row d-flex justify-content-between mt-3">
                  <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input inputBox"
                        type="radio"
                        name="typeOfClientEdit"
                        id="individualOptionEdit"
                        value="I"
                        checked
                        required
                      />
                      <label class="form-check-label" for="individualOption">
                        Individual
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input inputBox"
                        type="radio"
                        name="typeOfClientEdit"
                        id="companyOptionEdit"
                        value="C"
                        required
                      />
                      <label class="form-check-label" for="companyOption">
                        Company
                      </label>
                    </div>
                    <input
                      name="clientNameEdit"
                      id="clientNameEdit"
                      type="text"
                      class="mt-3 mb-4 newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <div class="col-sm-8 d-flex justify-content-end"></div>
                </div>
                <div class="form-group row">
                  <label for="companyAdress1" class="col-sm-2 col-form-label"
                    >Company Address</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="companyAdress1Edit"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <label for="phoneNumber1" class="col-sm-2 col-form-label"
                    >Phone number</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="phoneNumber1Edit"
                      type="tel"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="companyAdress2"
                    class="col-sm-2 col-form-label"
                  ></label>
                  <div class="col-sm-4">
                    <input
                      name="companyAdress2Edit"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <label for="phoneNumber2" class="col-sm-2 col-form-label"
                    >Mobile number</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="phoneNumber2Edit"
                      type="tel"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="city" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm">
                    <select
                      name="cityEdit"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">Badajoz</option>
                      <option value="2">Getafe</option>
                      <option value="3">Setubal</option>
                      <option value="4">Cordoba</option>
                      <option value="5">Beja</option>
                      <option value="6">Evora</option>
                      <option value="7">Granada</option>
                      <option value="8">Eure</option>
                      <option value="9">Calvados</option>
                      <option value="10">Valencia</option>
                      <option value="11">Fuenlabrada</option>
                      <option value="12">Castellon</option>
                      <option value="13">Madrid</option>
                      <option value="14">Manche</option>
                      <option value="15">Faro</option>
                      <option value="16">Lisboa</option>
                      <option value="17">Leganes</option>
                      <option value="18">Sevilla</option>
                      <option value="19">Pozuelos</option>
                      <option value="20">Vienne</option>
                      <option value="21">Creusea</option>
                      <option value="22">Alicante</option>
                      <option value="23">Jaen</option>
                      <option value="24">Huelva</option>
                      <option value="25">Benidorm</option>
                      <option value="26">Caceres</option>
                      <option value="27">Malaga</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <select
                      name="regionEdit"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">Normandia</option>
                      <option value="2">Extremadura</option>
                      <option value="3">Madrid</option>
                      <option value="4">Algarve</option>
                      <option value="5 ">Comunidad Valencia</option>
                      <option value="6">Aquitania</option>
                      <option value="7">Alentejo</option>
                      <option value="8">Region de Lisboa</option>
                      <option value="9">Andalucia</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <input
                      name="ZIPCodeEdit"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <label for="email" class="col-sm-2 col-form-label"
                    >E-mail</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="emailEdit"
                      type="email"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="country" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-4">
                    <select
                      name="countryEdit"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option value="1">España</option>
                      <option value="2">Francia</option>
                      <option value="3">Portugal</option>
                    </select>
                  </div>
                  <label for="webPage" class="col-sm-2 col-form-label"
                    >Web page</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="webPageEdit"
                      type="url"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="nif" class="col-sm-2 col-form-label"
                    >Ident. Number (NIF)</label
                  >
                  <div class="col-sm-4">
                    <input
                      name="nifEdit"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                  <label for="category" class="col-sm-2 col-form-label"
                    >Category</label
                  >
                  <div class="col-sm-4">
                    <select
                      name="categoryEdit"
                      class="newClientFormInput inputBox form-control"
                    >
                      <option>Labels</option>
                      <option value="1">1A</option>
                      <option value="2">1B</option>
                      <option value="3">2A</option>
                      <option value="4">2B</option>
                      <option value="5">3B</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="profilePic" class="col-sm-2 col-form-label"
                    >Profile Picture URL</label
                  >
                  <div class="col-sm-10">
                    <input
                      name="profilePicEdit"
                      type="text"
                      class="newClientFormInput inputBox form-control"
                      required
                    />
                  </div>
                </div>

                <div class="row ml-3 mr-3 pt-5 pl-1 pb-5">
                  <div class="col-3">
                    <button
                      type="button"
                      onclick="editClient()"
                      class="btn btn-block btn-add"
                    >
                      <b>Edit Client</b>
                    </button>
                  </div>
                  <!-- <div
                    class="col-11 alert alert-info"
                    role="alert"
                    style="display: none"
                    id="successAlert"
                  >
                    Client successfully added
                  </div> -->
                </div>
              </form>
            </div>
          </div>

          <div
            class="row row-cols-md-2 m-2 "  
            id="clientsContainer"
          ><!-- (linea 491)row-cols-md-2 mb-5 ------ style="max-width: 1080px;" -->
            <div th:each="client:${clients}" style="max-width: 540px;" class="card mb-3" >
              <div class="row">
                <div class="col-md-4">
                  <div class="row pt-2 pl-4 pr-2">
                    <div class="col-1">
                      <input type="checkbox">
                    </div>
                  </div>
                    <div class="clientProfilePic">
                        <img th:src="${client.profilePic}" alt="...">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row pt-2 pl-2 pr-2 clientInfo" th:id="${client.id}">
                      <div class="col-1 offset-8">
                        <i type="button"  onclick="favClient(event)" id="editIcon" class="far fa-star cardIcon"> </i>
                      </div>
                      <div class="col-1 ">
                        <i type="button" onclick="editClientForm(event)" class="fas fa-edit cardIcon"> </i>
                      </div>
                      <div class="col-1" >
                        <i type="button" onclick="deleteClientModal(event)" class="fas fa-trash-alt cardIcon deleteButton" data-toggle="modal" data-target="#deleteModal"> </i>
                      </div>
                    </div>
                  <div class="card-body">
                    <h5 class="card-title" th:text="${client.firstName}+' '+${client.lastName}">Card title</h5>
                    <p class="card-text" th:text="${client.email}" >email</p>
                    <p class="card-text" th:text="${client.city.name}+', '+${client.country.name} + '.'" ></p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- Pagination INI -->
          <nav>
            <ul class="pagination justify-content-center" id="paginationControls">
              <li class="page-item">
                <button onclick="prevPage(event)" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li class="page-item">
                <a style="color: #59bec9" id="currentPageItem" class="page-link">1</a>
              </li>
              <li class="page-item">
                <button onclick="nextPage(event)" class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>
<!-- Pagination END --> 
          </div>
        </div>
      </div>
    </div>
    
      <!-- Toast -->
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
        <div id="createToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
          <div class="toast-header">
            <strong class="mr-auto">Igloo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">The client was successfully created.</div>
        </div>
      </div>
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
        <div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
          <div class="toast-header">
            <strong class="mr-auto">Igloo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">The client was successfully deleted.</div>
        </div>
      </div>
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
        <div id="deleteToastFail" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
          <div class="toast-header">
            <strong class="mr-auto">Igloo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">This client can not be deleted because it has open orders</div>
        </div>
      </div>
      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
        <div id="editToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
          <div class="toast-header">
            <strong class="mr-auto">Igloo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">The client was successfully edited.</div>
        </div>
      </div>
      <!-- Toast end -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">We won't be able to recover the Client. Are you sure?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No! Go back!</button>
          <button type="button" onclick="deleteClient()" class="btn btn-add" data-dismiss="modal">
            Understood, delete
          </button>
        </div>
      </div>
    </div>
    <!-- Modal End -->
  </body>
</html>
