<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Bootstrap & Jquery -->
    <script src="bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" href="css/agent.css" />
    <!-- Scripts -->
    <script src="js/agents.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%; overflow: hidden">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label class="nav-brand mr-5 mt-2" style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Human Resources</b></label
          >
          <li role="button" class="nav-item"><span class="nav-link">Agents</span></li>
          <li role="button" class="nav-item"><span class="nav-link">Clients</span></li>
          <li role="button" class="nav-item"><span class="nav-link">Sales</span></li>
          <li role="button" class="nav-item"><span class="nav-link">Billing</span></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i style="color: white" class="fas fa-snowman"></i></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Sales Agents</h3>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input type="text" class="form-control search filterText" />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-between">
              <small class="filterText ml-1">Find agents by name</small>
              <button type="button" class="btn btn-sm btn-search filterText">Search</button>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"></i>
            </div>
            <div class="filterText col-10">Favorites</div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-sort-numeric-up filterIcons"></i>
            </div>
            <div class="filterText col-10">Order by ID (Asc)</div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-sort-numeric-down filterIcons"></i>
            </div>
            <div class="filterText col-10">Order by ID (Des)</div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-sort-alpha-down filterIcons"></i>
            </div>
            <div class="filterText col-10">Order by Last Name (Asc)</div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-sort-alpha-up filterIcons"></i>
            </div>
            <div class="filterText col-10">Order by Last Name (Des)</div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="addAgent()" class="btn btn-addAgent btn-lg btn-block filterText">
                Add Agent
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" class="btn btn-delAgent btn-lg btn-block filterText">Delete Agent</button>
            </div>
          </div>
        </div>
        <div class="col-10" style="overflow: auto; height: 1000px; width: fit-content">
          <div class="row agentForm m-5" id="agentForm" style="display: none">
            <div class="col-8">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="snowman@igloo.com" />
                </div>
                  <div class="form-group col-md-6">
                  <label for="email">Profile Picture</label>
                  <input type="text" class="form-control" id="profilePic" placeholder="https://robohash.org/quoasdfsdffsdsendain.png?size=250x250&set=set1" />
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Confirm Adding</button>
              </form>
            </div>
            <div class="4"></div>
          </div>
          <div class="row row-cols-1 row-cols-md-4 mr-5 mb-5 p-5">
            <div th:each="agent:${agents}" class="col mb-4">
              <div class="card h-90 w-80">
                <img th:src="${agent.profilePic}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 th:text="${agent.firstName}+' '+${agent.lastName}" class="card-title"></h5>
                  <p th:text="${agent.email}" class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
