<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Bootstrap & Jquery -->
    <script src="/src/main/resources/static/bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="/src/main/resources/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/src/main/resources/static/bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" href="/src/main/resources/static/css/agent.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/igloo.css" />
    <!-- Scripts -->
    <script src="/src/main/resources/static/js/agents.js"></script>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%; overflow: hidden">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-igloo"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <label class="nav-brand mr-5 mt-2" style="color: white; font-family: 'Titillium Web', sans-serif"
            ><b>Human Resources</b></label
          >
          <li role="button" onclick="window.location.href='/agent'" class="nav-item">
            <span class="nav-link">Agents</span>
          </li>
          <li role="button" onclick="window.location.href='/client'" class="nav-item">
            <span class="nav-link">Clients</span>
          </li>
          <li role="button" onclick="window.location.href='/order'" class="nav-item">
            <span class="nav-link">Orders</span>
          </li>
          <li role="button" onclick="window.location.href='/invoice'" class="nav-item">
            <span class="nav-link">Billing</span>
          </li>
          <li role="button" onclick="window.location.href='/settings'" class="nav-item">
            <span class="nav-link">Settings</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i style="color: white" class="fas fa-snowman"></i></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Sales Agents</h3>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input onkeyup="searchAgent()" type="text" id="searchTerm" class="form-control search filterText" />
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-between">
              <small class="filterText ml-1">Find agents by name</small>
              <button type="button" name="searchTerm" onclick="searchAgent()" class="btn btn-sm btn-search filterText">
                Search
              </button>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i type="button" class="fas fa-star filterIcons"></i>
            </div>
            <div class="col-10">
              <label class="filterText">Favorites</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="idAgentAsc()"
                id="idAgentAsc"
                type="button"
                class="fas fa-sort-numeric-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idAgentAsc" class="filterText">Order by ID (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="idAgentDesc()"
                id="idAgentDesc"
                type="button"
                class="fas fa-sort-numeric-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="idAgentDesc" class="filterText">Order by ID (Des)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="lastNameAgentAsc()"
                id="lastNameAgentAsc"
                type="button"
                class="fas fa-sort-alpha-up-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="lastNameAgentAsc" class="filterText">Order by Last Name (Asc)</label>
            </div>
          </div>
          <div class="row mt-3 mb-3 pl-3">
            <div class="col-2">
              <i
                onclick="lastNameAgentDesc()"
                id="lastNameAgentDesc"
                type="button"
                class="fas fa-sort-alpha-down-alt filterIcons"
              ></i>
            </div>
            <div class="col-10">
              <label for="lastNameAgentDesc" class="filterText">Order by Last Name (Des)</label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="addAgent()" class="btn btn-addAgent btn-lg btn-block filterText">
                Add Agent
              </button>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="deleteAgents()" class="btn btn-delAgent btn-lg btn-block filterText">
                Delete Agent
              </button>
            </div>
          </div>
        </div>
        <div class="col-10" style="overflow: auto; height: 1000px; width: fit-content">
          <div class="row createForm m-5" id="agentForm" style="display: none">
            <div class="col-8">
              <form>
                <div class="row">
                  <div class="col">
                    <h2 class="filterTextDark">New Agent Form</h2>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="snowman@igloo.com" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email">Profile Picture</label>
                    <input
                      type="text"
                      class="form-control"
                      id="profilePic"
                      name="profilePic"
                      placeholder="https://robohash.org/quoasdfsdffsdsendain.png?size=250x250&set=set1"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <button type="button" onclick="createAgent()" class="btn btn-block btn-addAgent filterText">
                      Create
                    </button>
                  </div>
                  <div class="form-group col-md-10">
                    <div class="alert alert-info" role="alert" style="display: none" id="successAlert">
                      Agent successfully added
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="4"></div>
          </div>
          <div class="row row-cols-1 row-cols-md-4 mr-5 mb-5 p-5" id="agentsContainer">
            <div th:each="agent:${agents}" class="col mb-4">
              <div class="card h-90 w-80">
                <div class="row pt-2 pl-2 pr-2 d-flex justify-content-between">
                  <div class="col-3">
                    <i type="button" class="far fa-star cardIcon"></i>
                  </div>
                  <div class="col-3">
                    <i
                      type="button"
                      onclick="selectForDelete(event)"
                      class="fas fa-trash-alt d-flex justify-content-end cardIcon"
                    ></i>
                  </div>
                </div>
                <div class="row" id="infernalRow">
                  <div class="col">
                    <div class="agentProfilePic">
                      <img th:src="${agent.profilePic}" class="card-img-top" />
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-8">
                          <h5 th:text="${agent.firstName}+' '+${agent.lastName}" class="card-title"></h5>
                        </div>
                        <div class="col-4">
                          <h5 th:text="'#00'+${agent.id}" class="card-title cardId"></h5>
                        </div>
                      </div>
                      <p th:text="${agent.email}" class="card-text"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
