/* Navbar */
.nav-location-font {
  color: rgb(89, 190, 201);
  font-family: "Titillium Web", sans-serif;
}

/* Fixed menus */
.igloo-container {
  margin-top: 56px;
}
/* Lateral Menu */
.lateralMenu {
  background-color: rgb(53, 58, 64, 0.6);
}
/* Background */
.bg_igloo {
  background-color: whitesmoke;
}
/* Home icons */
.homeImg {
  height: 200px;
  width: 200px;

}
.homeButton {
  padding: 4rem;
}
.homeButton:hover {
  background-color: rgb(53, 58, 64, 0.1);
  border-radius: 1rem;
}
.iconTitle {
  text-align: center;
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  color: rgb(53, 58, 64);
}
/* Filter Icons */
.filterIcons {
  color: whitesmoke;
  font-size: 1.5rem;
}
.filterIcons:hover {
  color: #59bec9;
}
/* Filter Text */
.filterText {
  color: whitesmoke;
  font-family: "Titillium Web", sans-serif;
}
.filterTextDark {
  color: black;
  font-family: "Titillium Web", sans-serif;
}
/* Input Search */
.search {
  background-color: rgb(53, 58, 64, 0.2);
  color: whitesmoke;
  font-family: "Titillium Web", sans-serif;
}
.search:focus {
  background-color: rgb(53, 58, 64, 0.4);
  color: whitesmoke;
  font-family: "Titillium Web", sans-serif;
}
/* Search Button */
.btn-search {
  background-color: transparent;
  border: solid 0.1rem whitesmoke;
  color: whitesmoke;
  width: 6rem;
}
.btn-search:hover {
  background-color: rgb(53, 58, 64, 0.7);

  color: whitesmoke;
}

/* Add Button */
.btn-add {
  border: solid 0.15rem #59bec9;
  background-color: #59bec9;
  color: whitesmoke;
}
/* Delete Button */
.btn-del {
  background-color: transparent;
  border: solid 0.15rem #59bec9;
  color: whitesmoke;
}

.createForm {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 1rem;
}
