<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- Bootstrap & Jquery -->
    <script src="bootstrap/js/jquery-3.6.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet" />
    <!-- Libraries -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row pt-5 pb-5">
        <div class="col d-flex justify-content-center">
          <h1 style="font-family: 'New Tegomin', serif">This page is under construction</h1>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <img src="img/underconstruction.png" width="500" alt="Under Construction" />
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="button" onclick="window.location.href='/home'" class="btn btn-dark">
            <h2 style="font-family: 'New Tegomin', serif">Go back</h2>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
