<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <!-- Bootstrap & Jquery -->
    <script
      th:src="@{'/bootstrap/js/jquery-3.6.0.min.js'}"
      src="/src/main/resources/static/bootstrap/js/jquery-3.6.0.min.js"
    ></script>
    <script
      th:src="@{'/bootstrap/js/bootstrap.min.js'}"
      src="/src/main/resources/static/bootstrap/js/bootstrap.min.js"
    ></script>
    <link
      rel="stylesheet"
      th:href="@{'/bootstrap/css/bootstrap.min.css'}"
      href="/src/main/resources/static/bootstrap/css/bootstrap.min.css"
    />
    <!-- Script -->
    <script src="js/igloo.js"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <!-- Libraries -->
    <link rel="stylesheet" th:href="@{'/css/igloo.css'}" href="/src/main/resources/static/css/igloo.css" />
    <link rel="stylesheet" th:href="@{'/css/settings.css'}" href="/src/main/resources/static/css/settings.css" />
    <!-- Scripts -->
    <script th:src="@{'/js/settings.js'}" src="/src/main/resources/static//js/settings.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Titillium+Web:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg_igloo" style="height: 100%">
    <nav th:replace="common/navbar::navbar"></nav>
    <div class="container-fluid igloo-container">
      <div class="row">
        <div class="col-md-2 col-sm-12 pb-5 lateralMenu border-top">
          <div class="row mt-5">
            <div class="col">
              <h3 class="filterText pl-1">Settings</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <!-- Show user button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showUser()" class="btn btn-add btn-lg btn-block filterText" disabled>
                User Data
              </button>
            </div>
          </div>
          <!-- Show countries button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showCountry()" class="btn btn-add btn-lg btn-block filterText" disabled>
                Countries
              </button>
            </div>
          </div>
          <!-- Show regions button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showRegion()" class="btn btn-add btn-lg btn-block filterText" disabled>
                Regions
              </button>
            </div>
          </div>
          <!-- Show cities button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showCity()" class="btn btn-add btn-lg btn-block filterText" disabled>
                Cities
              </button>
            </div>
          </div>
          <!-- Show sectors button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showSector()" class="btn btn-add btn-lg btn-block filterText">
                Sectors
              </button>
            </div>
          </div>
          <!-- Show statuses button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showStatus()" class="btn btn-add btn-lg btn-block filterText">
                Statuses
              </button>
            </div>
          </div>
          <!-- Show payment statuses button -->
          <div class="row pt-4">
            <div class="col">
              <button type="button" onclick="showPaymentStatus()" class="btn btn-add btn-lg btn-block filterText">
                Payment Statuses
              </button>
            </div>
          </div>
        </div>

        <!-- Background Image -->
        <!-- Forms -->
        <div class="col-md-10"  style="height: calc(100vh - 56px); width: fit-content; background-color: whitesmoke">
          <div class="offset-2" id="settingBgImage">
            <img
              src="/img/settingsIMG.png"
              style="
                opacity: 0.6;
                max-height: 700px;
                align-content: center;
                background-color: whitesmoke;
                overflow: hidden;
              "
            />
          </div>

          <!-- Sectors -->
          <div class="row createForm m-5" id="sectorForm" style="display: none">
            <div class="col-12">
              <form>
                <div class="row">
                  <div class="col pb-3">
                    <h2 class="filterTextDark">New Sector Form</h2>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sectorName" class="col-sm-2 col-form-label col-form-label-lg">Sector Name</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-lg" id="sectorName" />
                  </div>
                  <div class="col-sm-3">
                    <button type="button" onclick="createSector()" class="btn btn-add btn-block btn-lg">
                      Add Sector
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 alert alert-info" role="alert" style="display: none" id="successAlertSector">
                  Sector successfully added
                </div>
              </form>
            </div>
          </div>
          <!-- Statuses -->
          <div class="row createForm m-5" id="statusForm" style="display: none">
            <div class="col-12">
              <form>
                <div class="row">
                  <div class="col pb-3">
                    <h2 class="filterTextDark">New Status Form</h2>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="statusName" class="col-sm-2 col-form-label col-form-label-lg">Status Name</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-lg" id="statusName" />
                  </div>
                  <div class="col-sm-3">
                    <button type="button" onclick="createStatus()" class="btn btn-add btn-block btn-lg">
                      Add Status
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 alert alert-info" role="alert" style="display: none" id="successAlertStatus">
                    Status successfully added
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Payment Status -->
          <div class="row createForm m-5" id="paymentStatusForm" style="display: none">
            <div class="col-12">
              <form>
                <div class="row">
                  <div class="col pb-3">
                    <h2 class="filterTextDark">New Payment Status Form</h2>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="paymentStatusName" class="col-sm-2 col-form-label col-form-label-lg"
                    >Payment Status Name</label
                  >
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-lg" id="paymentStatusName" />
                  </div>
                  <div class="col-sm-3">
                    <button type="button" onclick="createPaymentStatus()" class="btn btn-add btn-block btn-lg">
                      Add Payment Status
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-sm-12 alert alert-info"
                    role="alert"
                    style="display: none"
                    id="successAlertPaymentStatus"
                  >
                    Payment status successfully added
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- EDIT TABLE  -->

          <div class="row m-5 editForm" id="editForm" style="display: none">
            <div class="col-12">
              <form>
                <div class="row">
                  <div class="col pb-3">
                    <h2 class="filterTextDark">Edit Form</h2>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label col-form-label-lg">To Edit</label>

                  <div class="col-sm-7">
                    <input id="settingToEdit" type="text" class="form-control form-control-lg" disabled />
                  </div>
                  <div class="col-sm-3">
                    <button type="button" onclick="cancelEdit()" class="btn btn-block btn-outline-info btn-lg">
                      Cancel Edit
                    </button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label col-form-label-lg">New Name</label>

                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-lg" id="editName" />
                  </div>
                  <div class="col-sm-3">
                    <button type="button" onclick="editItem()" class="btn btn-add btn-block btn-lg .filterText">
                      Edit
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 alert alert-info" role="alert" style="display: none" id="successAlertSector">
                  Sector successfully added
                </div>
              </form>
            </div>
          </div>

          <!-- Sector table -->
          <div class="row sectorTable m-5" id="sectorTable"></div>
          <!-- Status table -->
          <div class="row statusTable m-5" id="statusTable" style="display: none"></div>
          <!-- Payment Status table -->
          <div class="row paymentStatusTable m-5" id="paymentStatusTable" style="display: none"></div>
        </div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="createStatus" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="createStatusid">Successfully created.</div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div
        id="deleteToastFail"
        class="toast hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="5000"
      >
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">This setting can not be deleted.</div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">Successfully deleted.</div>
      </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0">
      <div id="editToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <strong class="mr-auto">Igloo</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">Successfully edited.</div>
      </div>
    </div>
  </body>
</html>
